body {
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;
    gap: 40px;
}

.everything {
    display: flex;
    flex-direction: column;
}

.top-info {
    display: flex;
    align-items: center;
    gap:50px;
    flex-direction: row-reverse;
}

.Statistics {
    font-weight: bold;
}

#grass-count {
    color:green;
}

#grassEater-count {
    color:#fbdc04;
}

#predator-count {
    color:red;
}

#kingEater-count {
    color:black;
}

#enemyEater-count {
    color:orange;
}

.weather {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.weather-box {
    display: flex;
    align-items: center;
}

.weather-box > img {
    width:60px;
    object-fit: cover;
}

.events {
    display: flex;
    align-items: center;
    flex-direction: column;
}